.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin: 20px auto;
  position: relative;
}

.progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a9a9a9;
  font-size: 12px;
  z-index: 1;
  text-align: center;
}

.progress-step.active .outer-circle {
  background-color: #2a874b;
}

.progress-step.active .label {
  color: #002f6c;
  font-weight: bold;
}

.progress-line {
  position: absolute;
  top: 50%;
  left: 17px;
  width: calc(100% - 17px);
  height: 2px;
  background-color: #1b3f5a;
  z-index: 0;
}

.point {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1b3f5a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 12px);
}

.triangle {
  width: 32;
  height: 25;
  border-top: 14px solid transparent;
  border-bottom: 13.5px solid transparent;
  border-left: 20px solid #1b3f5a;
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(100% - 15px);
}

.outer-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #2a874b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 17px);
  left: 17px;
}

.inner-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
}

.polygon {
  width: 25px;
  height: 14.5px;
  position: absolute;
  top: 55.1px;
  left: 20.499998px;
  background-color: #2a874b;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.label {
  margin-top: 80px;
  text-align: center;
  
}
